In [1]:
import pandas as pd

In [2]:
# import barcodes data as dataframes

nBarcodes = 26 # introduce here the number of barcodes (csv files to read)
barcodes = [] # create iterable list to save the dataframes
for i in range(1,nBarcodes+1):
    if i<10: # changing 1 to 01
        j=str(i) #cast int to string
        j=j.rjust(2, '0') # add left 0 to the number to make it match the format
    else:
        j=str(i)
    name = "../_DataResults/FinalResults_Compiled/final_results_complete_%s.csv" % j # add counter to the filename
    print(name)
    barcodes.append(pd.read_csv(name))  #read csv and import it as a dataframe

../_DataResults/FinalResults_Compiled/final_results_complete_01.csv
../_DataResults/FinalResults_Compiled/final_results_complete_02.csv
../_DataResults/FinalResults_Compiled/final_results_complete_03.csv
../_DataResults/FinalResults_Compiled/final_results_complete_04.csv
../_DataResults/FinalResults_Compiled/final_results_complete_05.csv
../_DataResults/FinalResults_Compiled/final_results_complete_06.csv
../_DataResults/FinalResults_Compiled/final_results_complete_07.csv
../_DataResults/FinalResults_Compiled/final_results_complete_08.csv
../_DataResults/FinalResults_Compiled/final_results_complete_09.csv
../_DataResults/FinalResults_Compiled/final_results_complete_10.csv
../_DataResults/FinalResults_Compiled/final_results_complete_11.csv
../_DataResults/FinalResults_Compiled/final_results_complete_12.csv
../_DataResults/FinalResults_Compiled/final_results_complete_13.csv
../_DataResults/FinalResults_Compiled/final_results_complete_14.csv
../_DataResults/FinalResults_Compiled/final_results_complete_15.csv
../_DataResults/FinalResults_Compiled/final_results_complete_16.csv
../_DataResults/FinalResults_Compiled/final_results_complete_17.csv
../_DataResults/FinalResults_Compiled/final_results_complete_18.csv
../_DataResults/FinalResults_Compiled/final_results_complete_19.csv
../_DataResults/FinalResults_Compiled/final_results_complete_20.csv
../_DataResults/FinalResults_Compiled/final_results_complete_21.csv
../_DataResults/FinalResults_Compiled/final_results_complete_22.csv
../_DataResults/FinalResults_Compiled/final_results_complete_23.csv
../_DataResults/FinalResults_Compiled/final_results_complete_24.csv
../_DataResults/FinalResults_Compiled/final_results_complete_25.csv
../_DataResults/FinalResults_Compiled/final_results_complete_26.csv

## Iterate barcodes list

Remember that in python indexes start with 0, so barcode 1 == barcode 0, therefore barcodes are numbered 0-25 instead of 1-26

write in console:

` barcodes[i] `

to visualize the barcode dataFrame

In [3]:
barcodes[4]

,ID,x_coord,y_coord,ch1_int,ch2_int,ch3_int,ch4_int,ch5_int,ch6_int,ref_int,ref_sigma,sigma1,sigma2,sigma3,sigma4,sigma5,sigma6
0,1,655.533831,17856.213047,1641.076969,0.0,122.445667,0.0,0,0.0,1817.554722,96.468146,93.539113,0.0,62.591849,0.0,0,0.0
1,2,963.442437,45549.484051,594.354952,0.0,0.000000,0.0,0,0.0,820.780882,107.576121,86.053652,0.0,0.000000,0.0,0,0.0
2,3,1456.534386,35972.823042,716.414507,0.0,0.000000,0.0,0,0.0,754.897306,99.903393,91.550574,0.0,0.000000,0.0,0,0.0
3,4,1869.586004,32725.777758,1336.697777,0.0,0.000000,0.0,0,0.0,1515.117177,91.584483,87.962170,0.0,0.000000,0.0,0,0.0
4,5,2168.413449,42507.038389,1529.278425,0.0,86.762119,0.0,0,0.0,1883.508628,101.689871,90.971732,0.0,60.069473,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1452,1453,42081.516142,30769.679563,873.958879,0.0,0.000000,0.0,0,0.0,912.521737,89.344571,89.877134,0.0,0.000000,0.0,0,0.0
1453,1454,42526.964836,21200.253608,1452.815812,0.0,0.000000,0.0,0,0.0,1590.565943,101.663226,97.971731,0.0,0.000000,0.0,0,0.0
1454,1455,43145.879499,12602.646332,1100.968239,0.0,0.000000,0.0,0,0.0,1201.058008,110.971797,106.068291,0.0,0.000000,0.0,0,0.0
1455,1456,45441.253872,15963.678629,876.478341,0.0,0.000000,0.0,0,0.0,563.463858,81.659307,120.301231,0.0,0.000000,0.0,0,0.0
1456,1457,46165.846465,23240.994202,446.515870,0.0,0.000000,0.0,0,0.0,440.955615,73.790997,79.390866,0.0,0.000000,0.0,0,0.0

In [4]:
# Drop columns (comment later)

for i in range(0,nBarcodes):   
    barcodes[i] = barcodes[i].drop(columns=['ch3_int'])
    
barcodes[3]

,ID,x_coord,y_coord,ch1_int,ch2_int,ch4_int,ch5_int,ch6_int,ref_int,ref_sigma,sigma1,sigma2,sigma3,sigma4,sigma5,sigma6
0,1,265.724923,2363.078344,0.0,48025.334136,0.0,0.000000,0.000000,63468.275729,112.764939,0.0,106.845375,105.241702,0.0,0.000000,0.000000
1,2,223.601300,28552.823044,0.0,1073.936029,0.0,0.000000,0.000000,1457.205863,96.090113,0.0,89.260339,0.000000,0.0,0.000000,0.000000
2,3,319.046911,26203.947739,0.0,991.697979,0.0,0.000000,0.000000,1006.168131,104.628822,0.0,100.930339,0.000000,0.0,0.000000,0.000000
3,4,475.851071,41926.668536,0.0,846.733696,0.0,0.000000,0.000000,1318.819645,93.799563,0.0,80.740432,55.521476,0.0,0.000000,0.000000
4,5,640.284720,28119.753209,0.0,1654.791952,0.0,0.000000,0.000000,2239.495911,95.056274,0.0,85.445184,86.131390,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3694,3695,45225.933137,13209.371500,0.0,3945.589713,0.0,428.730073,187.060815,5427.640172,83.410748,0.0,88.385879,63.015950,0.0,55.288358,51.387617
3695,3696,45245.476263,24495.002360,0.0,592.368038,0.0,0.000000,0.000000,894.288962,75.146936,0.0,66.476087,54.527177,0.0,0.000000,0.000000
3696,3697,45592.866669,7603.777323,0.0,632.446091,0.0,184.275204,47.097871,1107.232802,84.395765,0.0,71.997096,76.156354,0.0,60.609544,34.173773
3697,3698,46106.852840,2741.510778,0.0,1511.448985,0.0,287.930926,66.993237,2571.484123,83.443616,0.0,78.639811,79.330934,0.0,54.819125,24.669917
3698,3699,46121.151648,23304.974575,0.0,855.183888,0.0,0.000000,0.000000,849.487329,71.620892,0.0,90.039963,0.000000,0.0,0.000000,0.000000

In [5]:
# homogenize samples and export dataFrames to csv

for i in range(1,nBarcodes+1):
    if len(barcodes[i-1])>2000: # select only 2000 particles maximum for each dataset
        barcodes[i-1] = barcodes[i-1].sample(frac=1.0).head(2000) #shuffle and select first 2000
        
    if i<10: # changing 1 to 01
        j=str(i) #cast int to string
        j=j.rjust(2, '0') # add left 0 to the number to make it match the format
    else:
        j=str(i)
        
    name = "../_DataResults/FinalResults_Compiled/final_balanced_%s.csv" % j # add counter to the filename

    balanced = barcodes[i-1]
    balanced.to_csv(name) # export

In [5]:
# split and export dataFrames to csv | 80% training 20% testing

for i in range(1,nBarcodes+1):
    if len(barcodes[i-1])>2000: # select only 2000 particles maximum for each dataset
        barcodes[i-1] = barcodes[i-1].sample(frac=1.0).head(2000) #shuffle and select first 2000
        
    if i<10: # changing 1 to 01
        j=str(i) #cast int to string
        j=j.rjust(2, '0') # add left 0 to the number to make it match the format
    else:
        j=str(i)
        
    name = "FinalResults_Compiled/final_training_dropped_%s.csv" % j # add counter to the filename
    nameTest = "FinalResults_Compiled/final_testing_dropped_%s.csv" % j # add counter to the filename
    
    train = barcodes[i-1].sample(frac=0.8, random_state=200) # randomly split 80% of the data
    train.to_csv(name) # export
    
    test = barcodes[i-1].drop(train.index) # save data to test dataset except the ones used in the training dataset
    test.to_csv(nameTest) # export

In [6]:
train

,ID,x_coord,y_coord,ch1_int,ch2_int,ch4_int,ch5_int,ch6_int,ref_int,ref_sigma,sigma1,sigma2,sigma3,sigma4,sigma5,sigma6
1926,1927,6110.022294,8374.023067,1891.401068,883.465070,1085.145513,190.733125,0.000000,6661.276145,124.625197,99.970645,93.241909,83.944177,131.522999,64.491613,0.000000
4968,4969,32191.048518,25735.710489,2561.888428,1627.917512,548.077590,459.691831,225.555846,7293.646914,104.690605,99.339020,91.195014,78.258478,75.780597,63.720624,56.922997
3271,3272,21682.374340,41847.092450,872.687495,661.904087,502.956094,268.819211,0.000000,3356.503219,92.857202,94.274091,84.184836,73.431282,66.418574,52.754986,0.000000
3861,3862,46091.693777,42641.814248,0.000000,680.181458,0.000000,0.000000,0.000000,2273.517834,95.008425,0.000000,92.472312,0.000000,0.000000,0.000000,0.000000
3741,3742,32254.863237,13479.316930,4829.409171,2825.869298,1665.300324,1465.108092,1187.985324,13523.052505,90.956619,105.344458,80.550093,94.348857,69.202724,68.281423,76.419540
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2992,2993,33553.410813,43016.960866,2352.070113,1253.025925,890.034704,455.364940,701.236269,8461.978268,105.156242,103.201071,84.850900,87.517320,91.590216,69.493154,71.566395
3417,3418,40958.685811,10661.263476,988.229747,949.948216,364.212054,258.576093,298.179868,3655.106736,82.493884,89.831259,64.779373,78.180493,73.188625,54.595311,62.443981
4729,4730,8255.294644,20091.703037,0.000000,582.476668,411.992615,0.000000,0.000000,2362.708789,102.454741,0.000000,87.527585,62.768238,104.486133,0.000000,0.000000
4039,4040,22693.302499,5531.109864,1469.096506,1129.910192,197.760927,345.508800,260.393704,3999.451160,86.776837,93.625971,96.584035,86.834068,11.101463,65.887005,62.973754
1272,1273,18347.773332,32191.795696,947.727825,315.026389,0.000000,0.000000,0.000000,2553.801390,121.972568,117.635125,79.983923,0.000000,0.000000,0.000000,0.000000

In [7]:
test

,ID,x_coord,y_coord,ch1_int,ch2_int,ch4_int,ch5_int,ch6_int,ref_int,ref_sigma,sigma1,sigma2,sigma3,sigma4,sigma5,sigma6
3667,3668,23750.900045,17943.260912,3093.426555,1776.313690,1305.033546,632.207341,509.227623,9442.151657,105.504543,100.135189,87.321352,85.774094,119.681028,67.556680,61.886919
4571,4572,37433.518687,4958.413923,0.000000,1737.612098,430.475230,559.913564,209.896722,5622.003809,106.151971,0.000000,95.698824,73.684933,72.144097,63.092250,67.059764
2094,2095,29006.448202,24172.949685,4071.766700,3849.963111,1257.548458,874.186953,568.591857,13182.248942,89.988257,98.388201,81.061746,87.529619,87.672891,72.298375,66.194257
2952,2953,29221.909898,2315.391811,7226.198403,3618.364622,2409.976387,1322.335242,1654.671001,21692.353292,102.798488,98.418054,86.247388,85.409941,73.203321,77.913925,83.921722
300,301,39883.686898,40667.840540,1144.506820,1291.759178,935.183054,480.331763,244.809690,4711.097154,90.534605,103.664736,90.471078,77.599078,66.997073,72.285265,55.814414
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
776,777,2352.129781,35543.616021,4301.391530,2483.815349,890.927260,1046.132045,791.729014,11223.748121,94.487520,100.521089,82.905869,95.220556,78.359348,83.629806,70.758052
801,802,4750.556171,10951.911608,865.799067,0.000000,358.651592,171.809616,0.000000,2077.970575,92.884347,86.900657,0.000000,0.000000,65.019497,52.377297,0.000000
3004,3005,35167.582846,42152.459142,3398.142744,1464.843708,811.224669,398.567695,674.182577,9047.749398,103.656483,103.111585,104.555159,90.224919,77.766544,61.642434,67.504704
3660,3661,23068.738222,18313.264064,7150.194559,4865.191856,1985.026746,2021.203555,1228.943295,25921.938724,107.726921,97.691713,90.063153,92.208110,91.980399,80.529190,83.736422
4300,4301,7967.456908,1983.922345,3612.110293,2214.533456,1685.857576,1347.223570,718.115564,11455.315884,104.847473,102.884172,85.434675,85.825801,75.849501,81.422386,81.770938

## Logistic Regression Model

In [1]:
# split data into features (X) and target (Y)
X = 
Y =